$content-normal-padding: 3rem;
$content-large-padding: 5rem;
$content-xs-padding: 2rem;

$gray-color: #eaf0ed;
$primary-color: #3f5d45;
$primary-bg-color: #eaf0ed;
$primary-light-color: #8da291;
$focus-color: #ffe180;

$footer-x-padding: 100px;
$footer-y-padding: 30px;
